* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "TanPearl";
    src: url("fonts/TAN-PEARL.woff2") format("woff2");
}

@font-face {
    font-family: "Harmony";
    src: url("fonts/HARMONY.otf") format("OpenType");
}

@font-face {
    font-family: "iAWriterRegular";
    src: url("fonts/iAWriterDuoS-Regular.woff") format("woff");
}

@font-face {
    font-family: "LibreFranklinRegular";
    src: url("fonts/LibreFranklin-Regular.otf") format("OpenType");
}

@font-face {
    font-family: "SpaceGroteskRegular";
    src: url("fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}







body {
  height: 100vh;
  background-color: black;
}

.content_frame {
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;

}


.navigation_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 3vmax;
  padding-top: 3vmax;
}


.header_logo {
  display: flex;
  flex-direction: column;
  z-index: 8;  
}

.dark_shadows {
  position: relative;
  color: white;
  font-family: "iAWriterRegular";
  font-size: 3vmax;
  padding-bottom: 1vh;
  border-bottom: 2px solid #4B0082;
}

.sub_heading {
  position: relative;
  color: white;
  font-family: "iAWriterRegular";
  font-size: 1.5vmax;
  margin-top: 1vw;
  display: flex;
  justify-content: center;

}

.nav_menu {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  z-index: 8;
  justify-content: bottom;
  gap: 0.5vmax;
}

a.menu-link {
  font-size: 2vmax;
  font-family: "iAWriterRegular";
  color: #f2f2f2;
  text-decoration: none;
  width: fit-content;
  margin-bottom: 2vh;
  border-bottom:solid 3px transparent;
}

a {
  text-decoration: none;
}

a.film_link:hover {
  color: #4B0082;
  cursor: pointer;
}

a.film_link {
  color: #A57FC0;
}

a.film_link2:hover {
  color: #4B0082;
  cursor: pointer;
}

a.film_link2 {
  color: #dbcce6;
}





.slide {
  width: 100vw;
  height: 80vh;
  position: absolute;
  transition: all 0.5s;
}

.content_container {
  display: flex;
  justify-content: right;

}

.content {
  position: absolute;
  width: 65vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vmax;
}

.content_title {
  position: absolute;
}


.content::before {
  content: "";
  background-image: url('images\\noir\\Solid_black.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}





.page_title {
  position: relative;
  color: white;
  width: 80%;
  font-size: 1.5vmax;
  border-bottom: 2px solid #4B0082;
  padding-bottom: 1vh;
  font-family: 'iAWriterRegular';  
}

figure.left_figure {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  float: left;
  margin-right: 3vw;
}

figure.right_figure {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  float: right;
  margin-left: 3vw;
}

figcaption.left_caption {
    text-align: left;
    position: absolute;
    padding-top: 1vh;
    font-family: 'iAWriterRegular';
    font-size: .9vmax;
    word-wrap: break-word;
    width: 25vw;
}

figcaption.right_caption {
    text-align: left;
    position: absolute;
    padding-top: 1vh;
    font-family: 'iAWriterRegular';
    font-size: .9vmax;
    word-wrap: break-word;
    width: 25vw;
    margin-bottom: 2vh;
    float: right;
}

img.image_body_left {
 display: block;
 width: 25vw;
 height: auto;
 filter: brightness(100%);
 position: relative;
margin-top: 4vh;
padding-top: 4vh;
padding-bottom: 3vh;
 float: left;
 order: 1;
}

img.image_body_right {
 display: block;
 width: 25vw;
 height: auto;
 filter: brightness(100%);
 position: relative;
margin-top: 4vh;
padding-top: 4vh;
padding-bottom: 3vh;
 float: right;
}



.content_para {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; 
    position: absolute;
    width: 80%;
    height: 60vh;
    margin-top: 7vmax;
    padding-bottom: 20vh;
    color: white;
    font-family: 'SpaceGroteskRegular';
    -webkit-mask-image: linear-gradient( to bottom, black 50%, transparent 100% );
    mask-image: linear-gradient( to bottom, black 50%, transparent 100% );
}

.content_para::-webkit-scrollbar {
    display: none; 
}

.content_para h1 {
  font-size: 3vmax;
  border-bottom: 2px solid #4B0082;
  padding-bottom: 1vh;
  margin-bottom: 3vh;
  font-family: 'iAWriterRegular';
}

p.about {
    font-size: 1.2vw;
    margin-bottom: 1vmax;
}

.content_title {
  position: absolute;
  font-family: 'Harmony';
  font-size: 3vmax;
  color: white;
}


.slide img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  position: absolute;
}

img {
  filter: brightness(40%);
}

.top, .bottom {
  height: 10vh;
}

a.menu-link {
  -webkit-transition: font-size 2vmax;
  transition: font-size 0.5s;
  display: inline-block; 
}

a.menu-link:hover {
  color:  #A9A9A9;
  border-bottom: 3px solid  #4B0082;
}

.dark_shadows:hover {
  color: gray;
}



.welles {
  filter: brightness(25%);
}

.film {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
}

.film_content {
  display: flex;
  flex-direction: row;
}

.film_details {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.film_director {
  font-size: 1.2vmax;
}

h2.film_heading {
  font-size: 2vmax;
  font-family: 'SpaceGroteskRegular';
}

p.film_description {
  font-size: 1.2vmax;
  font-family: 'SpaceGroteskRegular';
}


img.film_image {
 width: 15vw;
 height: 20vh;
 filter: brightness(100%);
 margin-right: 2vw;
}



@media (min-width: 0px) {

  img.film_image {
   width: 15vw;
   height: 9vh;
   filter: brightness(100%);
   margin-right: 2vw;
  }

.content_container {
  flex-direction: column;
}

.content_frame {
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;

}

 
  
}

@media (min-width: 600px) {

  img.film_image {
   width: 15vw;
   height: 9vh;
   filter: brightness(100%);
   margin-right: 2vw;
  }

.content_container {
  flex-direction: row;
} 
}


@media (min-width: 1000px) {

  img.film_image {
   width: 15vw;
   height: 12vh;
   filter: brightness(100%);
   margin-right: 2vw;
  }  
}



@media (min-width: 1300px) {

  img.film_image {
   width: 15vw;
   height: 15vh;
   filter: brightness(100%);
   margin-right: 2vw;
  }  
}


@media (min-width: 1700px) {

  img.film_image {
   width: 15vw;
   height: 18vh;
   filter: brightness(100%);
   margin-right: 2vw;
  }  
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.5vmax;
  margin-right: 2vw;
}

.input-control, .email {
  display: block;
   width:20vw;
   height: 5vh;
   margin-bottom: 2vh;
}

.idea {
  height: 15vh;  
}

h2.form_text {
  font-size: 1.5vmax;
  font-family: 'SpaceGroteskRegular';
}


.submit {
  background-color:black;
  border: 2px solid  #4B0082;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 2vmax;
  border-radius: 25px;
}


input, textarea {
    color: black;
    font-size: 1.5vmax;
}

.about_subheading {
  font-size: 2vmax;
  color: #A57FC0;
  padding-bottom: .5vh;
  border-bottom: 2px solid white;
  margin-top: 15vh;
  margin-bottom: 3vh;
}















